.cardListContainer {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.main {
 padding: 1rem;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.backButton {
  width: 100%;
  flex-direction: row-reverse;
}
.backButton button {
    border-radius: 6px;
    margin-left: 2%;
}