@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #4A90E2;
  --secondary-color: #95A5A6;
  --accent-color: #F1C40F;
  --text-color: #2C3E50;
  --background-color: #ECF0F1;
  --error-color: #E74C3C;
}

body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  
}

.title {
  font-weight: 200;
  text-align: center;
  color: var( --text-color);
}

.button_accent {
  background-color: var(--accent-color);
  color: white;
}
.column {
  display: flex;
  flex-direction: column;
}