
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.searchContainer {
  position: relative;
  display: inline-block;
}
.searchInput {
  padding: 14px;
  padding-left: 40px;
  font-size: 16px;
  max-width: 250px; 
  border: 1px solid black;
  font-size: 18px;
  font-weight: 400;
  transition: opacity .4s ease;
  width: calc(100% - 50px);
  margin-right: 50px;
	border-radius: 100px;
	font-family: 'Inter';
}
.searchIcon {
  position: absolute;
  left: 5%; /* Adjust based on your design */
  top: 50%;
  transform: translateY(-50%);
  color: #ccc; /* Icon color */
}
.clearIcon {
  position: absolute;
  top: 25%;
  right: 10%; /* Adjust based on your layout */
  cursor: pointer;
}


.button_search {
  width: 250px;
  margin-top: 2rem;
  border-radius: 100px;
  padding: 0.2rem;
  background-color: var(--accent-color);
  color: var( --text-color);
  font-size: 1rem;
  font-family: 'Inter';
}